examples-simple-api-usage/src/main/mule/simple-atomic-sequence-usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd">

	<flow name="atomicSequenceGet">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/atomicSequenceGet" allowedMethods="POST"
			doc:name="http-in: /atomicSequenceGet" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:atomic-sequence-get doc:name="atomseq: get" atomic="#[payload.atomic]"
			config-ref="ignConfig" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="atomicSequenceAddAndGet">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/atomicSequenceAddAndGet" allowedMethods="POST"
			doc:name="http-in: /atomicSequenceAddAndGet" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:atomic-sequence-add-and-get doc:name="atomseq: add-and-get"
			valueToAdd="#[payload.valueToAdd]" atomic="#[payload.atomic]" config-ref="ignConfig" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="atomicSequenceGetAndAdd">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/atomicSequenceGetAndAdd" allowedMethods="POST"
			doc:name="http-in: /atomicSequenceGetAndAdd" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:atomic-sequence-get-and-add doc:name="atomseq: get-and-add"
			valueToAdd="#[payload.valueToAdd]" atomic="#[payload.atomic]" config-ref="ignConfig" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="atomicSequenceGetAndIncrement">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/atomicSequenceGetAndIncrement"
			allowedMethods="POST" doc:name="http-in: /atomicSequenceGetAndIncrement" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:atomic-sequence-get-and-increment doc:name="atomseq: get-and-increment"
			atomic="#[payload.atomic]" config-ref="ignConfig" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="atomicSequenceIncrementAndGet">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/atomicSequenceIncrementAndGet"
			allowedMethods="POST" doc:name="http-in: /atomicSequenceIncrementAndGet" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:atomic-sequence-increment-and-get doc:name="atomseq: increment-and-get"
			atomic="#[payload.atomic]" config-ref="ignConfig" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
