examples-simple-api-usage/src/main/mule/simple-scheduler-usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd">

	<flow name="schedulerSource">
		<apache-ignite:scheduler-source config-ref="ignConfig" description="Demo scheduler source"
			activeOnStart="false" doc:name="ign: scheduler-source">
			<apache-ignite:scheduler-strategy>
				<apache-ignite:fixed-frequency frequency="100" startDelay="0" />
			</apache-ignite:scheduler-strategy>
		</apache-ignite:scheduler-source>
		<apache-ignite:atomic-sequence-add-and-get doc:name="atomseq: add-and-get"
			valueToAdd="1" atomic="SEQ_SCHEDULER" config-ref="ignConfig" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerSource_seq">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerSource_seq" allowedMethods="POST"
			doc:name="http-in: POST /schedulerSource_seq" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:atomic-sequence-get doc:name="atomseq: add-and-get" atomic="SEQ_SCHEDULER"
			config-ref="ignConfig" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerStart">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerStart" allowedMethods="POST"
			doc:name="http-in: POST /schedulerStart" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:scheduler-start config-ref="ignConfig" taskId="#[payload.taskId]"
			doc:name="GridGain: scheduler-start" />
		<set-payload value="{&quot;res&quot;:&quot;success!&quot;}" mimeType="application/json" doc:name="payload:true" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerStop">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerStop" allowedMethods="POST"
			doc:name="http-in: POST /schedulerStop" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:scheduler-stop config-ref="ignConfig" taskId="#[payload.taskId]"
			doc:name="GridGain: scheduler-stop" />
		<set-payload value="{&quot;res&quot;:&quot;success!&quot;}" mimeType="application/json" doc:name="payload:true" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerReschedule">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerReschedule" allowedMethods="POST"
			doc:name="http-in: POST /schedulerReschedule" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:scheduler-reschedule config-ref="ignConfig" taskId="#[payload.taskId]"
			activeOnStart="#[payload.activeOnStart]" concurrencyAllowed="#[payload.concurrencyAllowed]" doc:name="GridGain: scheduler-reschedule">
			<apache-ignite:scheduler-strategy>
				<apache-ignite:fixed-frequency frequency="#[payload.frequency]" startDelay="#[payload.startDelay]" />
			</apache-ignite:scheduler-strategy>
		</apache-ignite:scheduler-reschedule>
		<set-payload value="{&quot;res&quot;:&quot;success!&quot;}" mimeType="application/json" doc:name="payload:true" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerRunNow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerRunNow" allowedMethods="POST"
			doc:name="http-in: POST /schedulerRunNow" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:scheduler-run-now config-ref="ignConfig" taskId="#[payload.taskId]"
			doc:name="GridGain: scheduler-run-now" />
		<set-payload value="{&quot;res&quot;:&quot;success!&quot;}" mimeType="application/json" doc:name="payload:true" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerTasks">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerTasks" allowedMethods="POST"
			doc:name="http-in: POST /schedulerTasks" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:scheduler-tasks config-ref="ignConfig" doc:name="GridGain: scheduler-tasks" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="schedulerRunList">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/schedulerRunList" allowedMethods="POST"
			doc:name="http-in: POST /schedulerRunList" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:scheduler-run-list config-ref="ignConfig" taskId="#[payload.taskId]"
			doc:name="GridGain: queue-run-list" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
