examples-simple-api-usage/src/main/mule/simple-countdownlatch-usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd">

	<flow name="countdownlatchAwait">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/countdownlatchAwait" allowedMethods="POST"
			doc:name="http-in: POST /countdownlatchAwait" outputMimeType="application/json" />
		<set-payload value="#[%dw 2.0
output application/java
---
payload
]" doc:name="payload: form-as-map" />
		<apache-ignite:countdownlatch-await config-ref="ignConfig" countdownlatch="#[payload.countdownlatch]"
			timeout="#[payload.timeout]" timeoutUnit="#[payload.timeoutUnit]" doc:name="ign: countdownlatch-await" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>


	<flow name="countdownlatchCountDown">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/countdownlatchCountDown" allowedMethods="POST"
			doc:name="http-in: POST /countdownlatchCountDown" />
		<apache-ignite:countdownlatch-count-down config-ref="ignConfig"
			countdownlatch="#[payload.countdownlatch]" down="#[payload.down]" doc:name="ign: countdownlatch-count-down" />
		<set-payload value="#[%dw 2.0
output application/json
---
message.payload]" doc:name="payload: json" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<flow-ref doc:name="exceptionStrategy" name="exceptionStrategy" />
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
